[Desktop Entry]
Type=Application
Version=0.2
Name=MC-Mass
GenericName=MC-Mass
Exec=mc-mass
Terminal=false
Categories=
Comment=
Keywords=
Icon=mc-mass
